<?xml version="1.0"?>
<!--
/**
 * @package Pagespeed_Css
 * @copyright Copyright (c) 2015 mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * @author Steven Fritzsche <sfritzsche@mediarox.de>
 * @author Thomas Uhlig <tuhlig@mediarox.de>
 */
-->
<config>

    <modules>
        <Pagespeed_Css>
            <version>0.0.0.2</version>
        </Pagespeed_Css>
    </modules>

    <frontend>
        <events>
            <!--
                Event before the response has been sent to browser
            -->
            <controller_front_send_response_before>
                <observers>
                    <pagespeed_css_response_before>
                        <type>singleton</type>
                        <class>pagespeed_css/observer</class>
                        <method>parseCssToBottom</method>
                    </pagespeed_css_response_before>
                </observers>
            </controller_front_send_response_before>
        </events>
    </frontend>

    <global>
        <!--
            default class declarations
        -->
        <models>
            <pagespeed_css>
                <class>Pagespeed_Css_Model</class>
            </pagespeed_css>
        </models>
        <helpers>
            <pagespeed_css>
                <class>Pagespeed_Css_Helper</class>
            </pagespeed_css>
        </helpers>
    </global>

    <adminhtml>
        <!--
            config configuration permissions
        -->
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pagespeed>
                                            <title>Pagespeed</title>
                                        </pagespeed>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <!--
            default configuration values
        -->
        <pagespeed>
            <css>
                <enabled>0</enabled>
                <exclude_enabled>1</exclude_enabled>
                <exclude><![CDATA[|css\/example\.css|
#example[0-9]{1-2}#
]]></exclude>
            </css>
        </pagespeed>
    </default>

</config>